{% extends 'base.html.twig' %}
{% block body %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="container" style="background-color: #f2f2f2;border: 2px solid black;margin-top: 2%">
    Utilisateur inscrit. Veillez attendre la validation de la formation par l'administrateur.</br></br>
    <a href="{{path('identification')}}">retour à l'identification</a></br></br>
</div>
{% endblock %}